{
  "extends": "react-app",
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "semi": false,
        "parser": "flow"
      }
    ],
    "jsx-a11y/href-no-hash": "off",
    "no-unused-vars": [
      "error"
    ]
  }
}
