{
  "extends": "react-app",
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "rules": {
    "prettier/prettier": [ "warn", { "singleQuote": true, "semi": false, "parser": "flow" } ],
    "jsx-a11y/href-no-hash": "off",
    "no-unused-vars": [ "error" ],
    "react-hooks/rules-of-hooks": "error"
  }
}